* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    background: url(https://www.desktopbackground.org/download/1280x1024/2012/09/28/459954_pictures-history-paper-backgrounds_1450x1100_h.jpg);

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    
    position: initial;
    padding: initial;
font-style: oblique;

}
.right {
 position: initial;
  font-style: normal;
    padding: 70px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 40px;
}
.h2 {
    background-color: rgb(83, 83, 83);
}
.Contact2{
    
    text-decoration: overline ;
background-color: khaki ;
border: black ;
padding: 0px 0px;
display: inline-block;
font-size: 16px ;

}